body{
    margin: 0;
    padding: 0;
    background-color: grey;
}

.main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.moduleContainer{
    display: flex;
    justify-content: center;
    align-items: center;
}
.toolContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.canvasContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    /* gap: 1px ; */
    width: 350px;
}
.pixel{
    width: 20px;
    height: 20px;
    border: 1px solid rgb(184, 184, 184);
    background-color: rgb(255, 255, 255);
}
/* removes dragging */
.pixel, .pixel::after, .pixel::before {
	-webkit-user-select: none;
	-webkit-user-drag: none;
	-webkit-app-region: no-drag;
	cursor: default;
}